name: Deploy to STAGING slot

on:
  push:
    branches:
      - staging
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_2C688EC78DC34BAB84EBE226AEDFF8F6 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_CDD5A40F9A514B2C9B2B5F80C5BD3FD4 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F1A4E693FA244EA4AB81CC731E5ECBEE }}

      - name: Deploy HTML to STAGING slot
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'sid-learning-html'
          slot-name: 'staging'
          package: .
